/*------base------*/
form {
  font-size: 12px;
}
/*------layout------*/
.reviews > div,
.reviews .review-date {
  border-bottom: 1px dotted #aaa;
}
.reviews .review-content {
  margin: 20px;
}
.reviews .open-review-form {
  margin-top: 30px;
}
.reviews .review_form label {
  width: 55%;
}
.reviews .simple-review-form {
  display: none;
}
.reviews .rate {
  margin: 20px;
}
.reviews .reguiered-field {
  color: #f00;
}
/*------module------*/
/*------state------*/
