/*------base------*/

form {
  font-size: 12px;
}
/*------layout------*/

.reviews {
  >div, .review-date {
    border-bottom: 1px dotted #aaa;
  }

  .review-content {
    margin: 20px;
  }

  .open-review-form {
    margin-top: 30px;
  }

  .review_form {
    label {
      width: 55%;
    }
  }

  .simple-review-form{
    display: none;
  }

  .rate {
    margin: 20px;
  }

  .reguiered-field {
    color: #f00;
  }
}

/*------module------*/
/*------state------*/